<div class="ctext">
    <!--<div class="fb-like" data-send="true" data-layout="standard" data-width="450" data-show-faces="true" data-colorscheme="light" data-action="like"></div>-->
  <h1>Contact Jorin Bossen:</h1>
  <form method="POST" name="contactform" action="contact-form-handler.php"> 
	<div class="frmtext">
	<label for='name'>Your Name:</label>
	<input type="text" size="25" name="name">
	</div>
	<div class="frmtext">
	<label for='email'>Email Address:</label>
	<input type="text" size="25" name="email"> <br>
	</div>
	<div class="frmtext">
	<label for='message'>Message:</label>
	<textarea name="message" cols="40" rows="5"></textarea>
	</div>
	<div class="frmtext">
	<input type="submit" value="Submit">
	</div>
</form>
</div>