<div class="ctext">
  <p>Born Lansing, Michigan<br/>
  Lives and works in Los Angeles, California<br/>
  jorin@jorinbossen.com
</p>
 <section class="education">
    <h2>Education:</h2>
      <ul class="education_list"></ul>
  </section>
  <section class="solo">
    <h2>Solo and Two Person Exhibitions:</h2>
      <ul class="solo_list"></ul>
  </section>
  <section class="group">
    <h2>Group Exhibitions:</h2>
      <ul class="group_list"></ul>
  </section>
  <section class="awards">
    <h2>Awards/Recognition:</h2>
      <ul class="award_list"></ul>
  </section>
  <section class="publications">
    <h2>Publications:</h2>
      <ul class="publication_list"></ul>
  </section>
</div>