<div class="htitle">
<div class="dtitle">
<a class="home" href="index.html">
Jorin Bossen</a></div>

<ul id="nav" style="position:relative; top:5px;">
    <li><span class="nav2"><a class="work" href="#">WORK</a></span>
        <ul>
            <li><a class="drop1" href="work.html">Cowboy Paintings</a></li>
            <li><a class="drop2" href="work.html#other" class="selected">Other Works</a></li>
        </ul>
        <div class="clear"></div>
    </li>
    <li><span class="nav2"><a class="cv" href="#">CV</a></span></li>
    <li><span class="nav2"><a class="contact" href="#">CONTACT</a></span></li>
</ul>
 
<div class="clear"></div>
</div>