<div class="htitle">
<div class="dtitle">
<a class="home" href="#index">
Jorin Bossen</a></div>

<ul id="nav" style="position:relative; top:5px;">
    <li class="listWork"><span class="nav2"><a class="work" href="#work">WORK</a></span>
        <ul class="showPaintings">
            <li><a class="work" href="#work">Cowboy Paintings</a></li>
            <li><a class="portrait" href="#portrait" class="selected">Other Works</a></li>
        </ul>
        <div class="clear"></div>
    </li>
    <li><span class="nav2"><a class="cv" href="#cv">CV</a></span></li>
    <li><span class="nav2"><a class="contact" href="#contact">CONTACT</a></span></li>
</ul>
 
<div class="clear"></div>
</div>